/* google font */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* common css */
:root {
  --heading-color: #ffffff;
  --paragraph-color: rgba(255, 255, 255, 0.654);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
ul,
ol li {
  list-style: none;
}
a {
  text-decoration: none;
}
.body {
  overflow-x: hidden;
}
/* navbar start */
#navbar {
  padding: 24px 0;
  background: #1A0B2E;
  border-bottom: #1a0b2e43;
  width: 100%;
}
#navbar .nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 314px;
}
#navbar .nav-items ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}
#navbar .nav-items ul li a {
  color: #ffffff;
  font-size: 16px;
  line-height: 120px;
  transition: all linear 0.3s;
}
#navbar .nav-items ul li a:hover {
  color: #f7e93f;
  text-decoration: underline;
}
#navbar .nav-items button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: #ffffff;
  background: linear-gradient(45deg, #f7e93f, #fb09b4, #9100f8);
  padding: 12px 16px 12px 16px;
  border-radius: 10000px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}
.hamburger-menu {
  display: none;
}
/* navbar end */

/* banner section start */
#banner {
    background-image: url('../assets/hero-circle.png'), url('../assets/hero-bg.png');
    background-position: center 50px, center center; 
    background-repeat: no-repeat, no-repeat;
    background-size: 385px auto, 1875px; 
    padding: 101px 0;
    background-color: #1A0B2E;
    width: 100%;
    position: relative;
}
#banner .banner-items{
    text-align: center;
    margin-top: 391px;
}
#banner .banner-items .new p{
   background-color: #00FF88;
   color: #1A0B2E;
   border-radius: 10000px;
   padding: 8px 16px;
   display: inline-block;
   position: absolute;
   top: 9%;
   left: 55%;
   box-shadow: 0 3px 27px rgba(0, 255, 136, 0.50);
   font-size: 18px;
   font-weight: 600;
   width: 75px;
   height: 38px;
}
#banner .banner-items .mic-logo img{
    position: absolute;
    top: 20%;
    left: 47%;
}
.banner-items h1 {
    font-size: 60px;
    font-weight: 800;
    color: var(--heading-color);
}
.banner-items p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.654);
    padding-top: 8px;
    padding-bottom: 10px;
}
.banner-items .buttons {
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.banner-items .buttons .btn-primary {
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px 20px;
    border-radius: 10000px;
    border: none;
    background: linear-gradient(45deg, #f7e93f, #fb09b4, #9100f8);
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.banner-items .buttons .btn-secondary {
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px 20px;
    border-radius: 10000px;
    border: none;
    background: transparent;
    color: #00FF88;
    padding: 13px 20px;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #00FF88;
    cursor: pointer;
}
.banner-items .buttons .btn-secondary:hover {
    background: linear-gradient(45deg, #f7e93f, #fb09b4, #9100f8);
    color: #ffffff;
    border: none;
    padding: 14px 21px;
}
/* banner section end */
/* podcast section start */
#podcast {
  padding-top: 50px;
  padding-bottom: 120px;
  background-color: #1A0B2E;
}
#podcast .podcast-items {
   /* text-align: center; */
}
#podcast .podcast-items h1{
   font-weight: bold;
   font-size: 48px;
   color: var(--heading-color);
}
#podcast .podcast-items p{
   font-size: 16px;
   line-height: 20px;
   color: var(--paragraph-color);
   padding-top: 16px;
   padding-bottom: 80px;
   border-bottom: 1px solid #ffffff26;
}
#podcast .points {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 80px;
   text-align: center;
}
#podcast .points .item{
   padding-top: 80px;
}
#podcast .points .item h1{
   font-weight: 900;
   font-size: 48px;
   color: #00FF88;
}
#podcast .points .item p{
    font-size: 16px;
    padding-top: 16px;
    color: var(--paragraph-color);
    line-height: 20px;
}
/* podcast section end */
/* techwave section start */
#Techwave {
  padding: 120px 0;
  background-color: #230E3D;
}
#Techwave .techwave-items{
   /* text-align: center; */
}
#Techwave .techwave-items h1{
  font-size: 40px;
  font-weight: bold;
  color: var(--heading-color);
  padding-bottom: 40px;
}
#Techwave .techwave-items .cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}
#Techwave .techwave-items .cards .card-item-1{
  padding: 107px 40px;
  background-color: #351165;
  border-radius: 40px;
  height: 480px;
  width: 380px;
}
#Techwave .techwave-items .cards .card-item-1 img{
  display: flex;
  align-items: center;
  justify-content: start;
  margin-left: 20px;
}
#Techwave .techwave-items .cards .card-item-1 h2{
 font-size: bold;
 font-size: 24px;
 color: var(--heading-color);
 padding-top: 16px;
 padding-bottom: 16px;
}
#Techwave .techwave-items .cards .card-item-1 p{
 line-height: 24px;
 font-size: 16px;
 color: var(--paragraph-color);
}
#Techwave .techwave-items .cards .card-item-1{
  grid-row: 1/3;
}

#Techwave .techwave-items-2{
   /* text-align: center; */
}
#Techwave .techwave-items .cards .card-item-2{
  padding: 40px;
  background-color: #351165;
  border-radius: 40px;
  height: 225px;
  width: 790px;
}
#Techwave .techwave-items .cards .card-item-2 img{
  display: flex;
  align-items: center;
  justify-content: start;
  margin-left: 10px;
}
#Techwave .techwave-items .cards .card-item-2 h2{
 font-size: bold;
 font-size: 24px;
 color: var(--heading-color);
 padding-top: 16px;
 padding-bottom: 16px;
 display: flex;
 align-items: center;
 justify-content: start;
}
#Techwave .techwave-items .cards .card-item-2 p{
 line-height: 24px;
 font-size: 16px;
 color: var(--paragraph-color);
 display: flex;
 align-items: center;
 justify-content: start;
}
#Techwave .techwave-items .cards .card-item-2{
  grid-column: 2/6;
}


#Techwave .techwave-items-3{
   /* text-align: center; */
}
#Techwave .techwave-items .cards .card-item-3{
  padding: 40px;
  background-color: #351165;
  border-radius: 40px;
  height: 225px;
  width: 790px;
}
#Techwave .techwave-items .cards .card-item-3 img{
  display: flex;
  align-items: center;
  justify-content: start;
  margin-left: 10px;
}
#Techwave .techwave-items .cards .card-item-3 h2{
 font-size: bold;
 font-size: 24px;
 color: var(--heading-color);
 padding-top: 16px;
 padding-bottom: 16px;
 display: flex;
 align-items: center;
 justify-content: start;
}
#Techwave .techwave-items .cards .card-item-3 p{
 line-height: 24px;
 font-size: 16px;
 color: var(--paragraph-color);
 display: flex;
 align-items: center;
 justify-content: start;
}
#Techwave .techwave-items .cards .card-item-3{
  grid-column: 2/6;
}


#Techwave .techwave-items-4{
   /* text-align: center; */
}
#Techwave .techwave-items .cards .card-item-4{
  padding: 20px;
  background-color: #351165;
  border-radius: 40px;
  height: 225px;
  width: 790px;
}
#Techwave .techwave-items .cards .card-item-4 img{
  display: flex;
  align-items: center;
  justify-content: start;
  margin-left: 10px;
}
#Techwave .techwave-items .cards .card-item-4 h2{
 font-size: bold;
 font-size: 24px;
 color: var(--heading-color);
 padding-top: 16px;
 padding-bottom: 16px;
 display: flex;
 align-items: center;
 justify-content: start;
}
#Techwave .techwave-items .cards .card-item-4 p{
 line-height: 24px;
 font-size: 16px;
 color: var(--paragraph-color);
 display: flex;
 align-items: center;
 justify-content: start;
 height: 72px;
 width: 710px;
}
#Techwave .techwave-items .cards .card-item-4{
  grid-column: 1/3;
}


#Techwave .techwave-items{
   text-align: center;
}
#Techwave .techwave-items .cards .card-item-5{
  padding: 20px;
  background-color: #351165;
  border-radius: 40px;
  height: 220px;
  width: 380px;
}
#Techwave .techwave-items .cards .card-item-5 img{
  display: flex;
  align-items: center;
  justify-content: start;
  margin-left: 20px;
}
#Techwave .techwave-items .cards .card-item-5 h2{
 font-size: bold;
 font-size: 24px;
 color: var(--heading-color);
 padding-top: 16px;
 padding-bottom: 16px;
 display: flex;
 align-items: center;
 justify-content: start;
}
#Techwave .techwave-items .cards .card-item-5 p{
 line-height: 24px;
 font-size: 16px;
 color: var(--paragraph-color);
  display: flex;
 align-items: start;
 justify-content: start;
}
#Techwave .techwave-items .cards .card-item-5{
  grid-column: 3/4;
}
/* techwave section end */
/* featured section start */
#featured {
  background-color: #1A0B2E;
  padding: 120px 0;

}
#featured .featured-items {
      text-align: center;
}
#featured .featured-items h1{
    font-weight: bold;
    font-size: 48px;
    color: var(--heading-color);
    padding-bottom: 24px;
}
#featured .featured-items .featured-card{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  /* text-align: center; */
 
}
#featured .featured-items .featured-card .featured-item{
   width: 380px;
  height: 440px;
   background-color: #250D44;
   border-radius: 20px;
   width: 100%;
   
}
#featured .featured-items .featured-card .featured-item .video iframe{
 height: 214px;
 width: 380px;
 border-radius: 20px 20px 0 0;

   
}
 .featured-item h2{
   font-size: 24px;
   font-weight: bold;
   color: var(--heading-color);
    padding-top: 24px;
    padding-bottom: 12px;
    padding-right: 24px;
    padding-left: 24px;
    display: flex;
    align-items: center;
    justify-content: start;

}
 .featured-item p{
   font-size: 16px;
   color: var(--paragraph-color);
   line-height: 24px;
   padding-right: 24px;
   padding-left: 24px;
   padding-top: 12px;
   /* padding-bottom: 12px; */
}
 .featured-item .time span{
   display: flex;
   align-items: center;
   justify-content: start;
   gap: 10px;
   padding-bottom: 24px;
}
/* featured section end */
/* host section start */
#host {
  padding-bottom: 120px;
  background-color: #1A0B2E;
}
#host .host-items {
    
}
#host .host-items .host-card{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
     background-color: #351165;
     border-radius: 40px;
     padding: 40px;
}
#host .host-items .host-card h2{
  font-weight: bold;
  font-size: 32px;
  color: var(--heading-color);
}
#host .host-items .host-card .social{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
}
#host .host-items .host-card .social img{
  padding: 10px; 
  border: 1px solid #533C72;
  border-radius: 10000px;
}
#host .host-items .host-card p{
   font-size: 16px;
   line-height: 24px;
   color: var(--paragraph-color);
   padding-top: 16px;
   padding-bottom: 16px;
}
#host .host-items h1{
    font-size: 48px;
    font-weight: 48px;
    color: var(--heading-color);
    padding-bottom: 40px;
    text-align: center;
}

/* host section end */
/* footer start */
#footer {
  background-image: url('./../assets/footer-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  
}
#footer .footer-items{
   text-align: center;
   padding-top: 120px;
  padding-bottom: 120px;
}
#footer .footer-items .logo img{
   width: 410px;
   height: 60px;
}
#footer .footer-items .icons{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 40px;
}
#footer .footer-items .icons span{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 8px;
   padding-top: 32px;
   padding-bottom: 32px;
   color: var(--paragraph-color);
   font-size: 16px;
}
#footer .footer-items p{
   color: rgba(255, 255, 255, 0.374);
   font-size: 16px;
   line-height: 24px;
}

/* footer end */














/* responsive part start */

/* navbar responsive start*/
/* small device */
@media (max-width: 576px) {
  #navbar {
    padding: 24px 0;
    background: #412567;
    border-bottom: #1a0b2e43;
  }
  #navbar .nav-items {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 50px;
    padding: 0 20px;
  }
  #navbar .nav-items ul {
    display: none;
  }
  #navbar .nav-items button {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
}

/* Medium device */
@media (min-width: 577px) and (max-width: 992px) {
  #navbar {
    padding: 24px 0;
    background: #412567;
    border-bottom: #1a0b2e43;
  }
  #navbar .nav-items {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 50px;
    padding: 0 20px;
  }
  #navbar .nav-items ul {
    display: none;
  }
  #navbar .nav-items button {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
}

/*extra large device */
@media (min-width: 993px) and (max-width: 1200px) {
  #navbar {
    padding: 24px 0;
    background: #412567;
    border-bottom: #1a0b2e43;
    width: 100%;
  }
  #navbar .nav-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
  }
  #navbar .nav-items ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
  }
  .hamburger-menu {
    display: none;
  }
}
/* navbar responsive end */
/* banner responsive start */
/* small device */
@media (max-width: 576px) {
   #banner {
    background-position: center 90px, center center; 
    background-size: 250px auto, cover; 
    padding: 1px 0;
    width: 100%;
    position: relative;
}
#banner .banner-items{
    text-align: center;
    margin-top: 391px;
}
#banner .banner-items .new p{
   background-color: #00FF88;
   color: #1A0B2E;
   top: 18%;
   left: 61%;
   font-size: 16px;
   font-weight: 600;
   width: 70px;
   height: 35px;
}
#banner .banner-items .mic-logo img{
    position: absolute;
    top: 28%;
    left: 43%;
    height: 119px;
    width: 80px;
}
.banner-items h1 {
    font-size: 40px;
    font-weight: 800;
    color: var(--heading-color);
}
}

/* Medium device */
@media (min-width: 577px) and (max-width: 992px) {
#banner {
    background-image: url('../assets/hero-circle.png'), url('../assets/hero-bg.png');
    background-position: center 140px, center center;
    background-repeat: no-repeat, no-repeat;
    background-size: 250px auto, 1200px;
    padding: 53px 0;
    background-color: #1A0B2E;
    width: 100%;
    position: relative;
}

#banner .banner-items .new p{
   top: 23%;
   left: 60%;
}
#banner .banner-items .mic-logo img{
    position: absolute;
    top: 30%;
    left: 43%;
    height: 115px;
    width: 80px;
}
.banner-items h1 {
    font-size: 40px;
}
}
/* banner responsive end */
/* /*extra large device */ 
@media (min-width: 993px) and (max-width: 1200px) {
#banner {
    background-image: url('../assets/hero-circle.png'), url('../assets/hero-bg.png');
    background-position: center 181px, center center;
    background-repeat: no-repeat, no-repeat;
    background-size: 266px auto, 1069px;
    padding: 100px 0;
    background-color: #1A0B2E;
    width: 100%;
    position: relative;
}
#banner .banner-items .new p {
    background-color: #00FF88;
    color: #1A0B2E;
    top: 25%;
    left: 56%;
    font-size: 16px;
    font-weight: 600;
    width: 70px;
    height: 35px;
}

#banner .banner-items .mic-logo img {
    position: absolute;
    top: 31%;
    left: 46%;
    height: 140px;
    width: 80px;
}
}
/* banner end */
/* podcast responsive start */
@media (max-width: 576px) {
  #podcast {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #1A0B2E;
}
#podcast .podcast-items {
   text-align: center;
   padding-left: 20px;
   padding-right: 20px;
}
#podcast .podcast-items h1{
   font-size: 32px;
}
#podcast .podcast-items p{
   font-size: 16px;
   line-height: 20px;
   color: var(--paragraph-color);
   padding-top: 16px;
   padding-bottom: 40px;
   border-bottom: 1px solid #ffffff26;
}
#podcast .points {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 40px;
   text-align: center;
   padding: 40px 20px;
}
#podcast .points .item{
   padding-top: 40px;
}
#podcast .points .item h1{
   font-weight: 900;
   font-size: 48px;
   color: #00FF88;
}
}
/* medium size */
@media (min-width: 577px) and (max-width: 922px) {
  #podcast {
  padding-top: 50px;
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #1A0B2E;
}
#podcast .podcast-items {
   text-align: center;
}
#podcast .podcast-items h1{
   font-weight: bold;
   font-size: 48px;
   color: var(--heading-color);
}
#podcast .podcast-items p{
   font-size: 16px;
   line-height: 20px;
   color: var(--paragraph-color);
   padding-top: 16px;
   padding-bottom: 80px;
   border-bottom: 1px solid #ffffff26;
}
#podcast .points {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 50px;
   text-align: center;
}
#podcast .points .item{
   padding-top: 70px;
}
#podcast .points .item h1{
   font-weight: 900;
   font-size: 48px;
   color: #00FF88;
}
#podcast .points .item p{
    font-size: 16px;
    padding-top: 16px;
    color: var(--paragraph-color);
    line-height: 20px;
}
  
}
/* podcast responsive end */
/* techweb start */

  @media (max-width: 576px) {

  #Techwave {
    padding: 60px 0;
    background-color: #230E3D;
  }

  #Techwave .techwave-items h1 {
    font-size: 28px;
    padding-bottom: 30px;
  }

  #Techwave .techwave-items .cards {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    text-align: center;
    width: 380px;
    height: 480px;
  }
  #Techwave .techwave-items .cards > div {
    width: 380px;
    height: 480px;
    padding: 30px 20px;
    grid-column: auto !important;
    grid-row: auto !important;
  }

  #Techwave .techwave-items .cards h2 {
    font-size: 20px;
  }

  #Techwave .techwave-items .cards p {
    font-size: 15px;
    line-height: 22px;
    width: 100%;
  }

}
/* techweb end */
/* featured start */
@media (max-width: 576px) {
  #featured {
  background-color: #1A0B2E;
  padding: 40px 20px;

}
#featured .featured-items {
      text-align: center;
}
#featured .featured-items h1{
    font-weight: bold;
    font-size: 32px;
    color: var(--heading-color);
    padding-bottom: 24px;
}
#featured .featured-items .featured-card{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;
  /* text-align: center; */
 
}
#featured .featured-items .featured-card .featured-item{
   width: 400px;
  height: 393px;
   background-color: #250D44;
   border-radius: 20px;
   width: 100%;
   
}
#featured .featured-items .featured-card .featured-item .video iframe{
 height: 225px;
 width: 536px;
 border-radius: 20px 20px 0 0;

   
}
 .featured-item h2{
   font-size: 20px;
   font-weight: bold;
   color: var(--heading-color);
    padding-top: 16px;
    padding-bottom: 8px;
    padding-right: 16px;
    padding-left: 16px;
    display: flex;
    align-items: center;
    justify-content: start;

}
 .featured-item p{
   font-size: 16px;
   color: var(--paragraph-color);
   line-height: 24px;
   padding-right: 24px;
   padding-left: 24px;
   padding-top: 12px;
   /* padding-bottom: 12px; */
}
 .featured-item .time span{
   display: flex;
   align-items: center;
   justify-content: start;
   gap: 10px;
   padding-bottom: 24px;
}
}
/* featured end */
/* host start */
#host {
  padding-bottom: 60px;
  background-color: #1A0B2E;
}
#host .host-items {
    
}
#host .host-items .host-card{
    flex-direction: column;
  gap: 24px;
     background-color: #351165;
     border-radius: 40px;
     padding: 24px;
     margin-left: 20px;
     margin-right: 20px;

}
#host .host-items .host-card h2{
  font-weight: bold;
  font-size: 32px;
  color: var(--heading-color);
  text-align: center;
}
#host .host-items .host-card .social{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
 display: flex;
  align-items: center;
  justify-content: center;
}
#host .host-items .host-card .social img{
  padding: 10px; 
  border: 1px solid #533C72;
  border-radius: 10000px;
  
}
#host .host-items .host-card p{
   font-size: 16px;
   line-height: 24px;
   color: var(--paragraph-color);
   padding-top: 16px;
   padding-bottom: 16px;
   text-align: center;
}
#host .host-items h1{
    font-size: 32px;
    font-weight: 48px;
    color: var(--heading-color);
    padding-bottom: 16px;
    text-align: center;
}
/* host end */
/* responsive part end */
